PLATFORM_ENV=local
PLATFORM_VERSION=1.0.0
NGINX_PORT=8085
APACHE_PORT=8086
NODE_PORT=3007
GO_PORT=3008
JAVA_PORT=3009
PHP_PORT=3010
LOCALSTACK_EDGE_PORT=4566
LOCALSTACK_HOST=127.0.0.1
KIND_CLUSTER_NAME=platform-delivery-lab
AWS_DEFAULT_REGION=us-east-1
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
